
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: black;
    overflow-x: hidden;
}

.searchform
    {
        float: right;
        height: 25px;
        padding: 2px;
    }

input
{
    border-radius: 10px;
    border: 3px solid black;
    padding: 2px;
}

input:hover
{
    border-radius: 10px;
    border: 3px solid yellow;
}

.divform
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 98%;
    height: 70px;
    background-color: #3f3f3f;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1.5%;
}

.Username{
text-align: center;
color: white;
padding: 3%;
}

.liniya{
    border: none; 
    background-color: yellow; 
    color: red; 
    height: 2px;
}
.information{
    width: 600px;
    height: 100px;
    background-color: grey;
    margin: 5px;
    border-radius: 10px; 
}

.Change{
    margin-top: 10%;
    padding: 5px;
    font-size: 25px;
}

.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

@media only screen and (min-width: 550px) {
    .product-wrapper {
        width: 50%;
    }
}


@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

.product {
    display: block;
    border: 0;
    border-radius: 10px;
    position: relative;
    background: gray;
    margin: 0 20px 20px 0;
    text-decoration: none;
    text-align: center;
    color: #474747;
    z-index: 0;
    height: 300px;
    align-items: center;
    justify-content: center; /* vertically aligns items */
}

.products {
    list-style: none;
    margin-top: 2%;
    margin-left: 10px;
    border:0;
    padding: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .products {
    list-style: none;
    margin-top: 2%;
    margin-left: 13%;
    border:0;
    padding: 0;
    float: left;
    width: 80%;
}

.checkboxdiv
{
    display: inline-block;
    background-color: gray;
    margin-left: 11%;
    font-size: 25px;
    width: 80%;
    min-width: 200px;
    height: 10%;
    border: 3px solid black;
    border-radius: 7px;
}
}

.product-photo {
    position: relative;
    overflow: hidden;
    height: 100%;
    border: 0;
    border-radius: 7px;
}

.product-photo img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
    border: 0px;
    border-radius: 7px;
}

.product:hover .product-photo img {
    transform: scale(1.15);
}

.product_img
{
     height: 100%;
     width: 100%;
}

.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.input6{
    width: 150px;
}

.input7{
    width: 150px;
}

.input8{
    position: relative;
    width: 80px;
    margin-top: 4px;
}

.buyedkeys{
    text-align: center;
    font-size: 50px;
    color: white;
    width: 300px;
    
}

#wrapper {
    overflow: hidden;
}

#c1 {
    text-align: center;
    background-color: gray;
    float:left;
    border:3px solid gray;
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    padding: 20px;
}

#c2 {
    float: right;
    margin-right: 15%;
    padding: 20px;
}

.AchieveInfo
{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: gray;
    opacity: 0.9;
    border: 0;
    border-radius: 7px;
}

.AchieveInfo p {
    opacity: 1;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.product:hover .AchieveInfo {
    display: inline-block;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}


