*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.product-wrapper {
    width: 100%;
    float: left;
    transition: width .2s;
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 100%;
    }
}


@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 33.333%;
    }
}

.product {
    display: block;
    border: 0;
    border-radius: 10px;
    position: relative;
    background: gray;
    margin: 0 20px 20px 0;
    text-decoration: none;
    text-align: center;
    color: #474747;
    z-index: 0;
    height: 300px;
    align-items: center;
}

.products {
    list-style: none;
    margin-top: 1%;
    margin-left: 10px;
    border:0;
    padding: 0;
    float: right;
    width: 70%;
}
.j_title {
    font-weight: bold;
    padding-left: 1%;
    font-size: 30px;
    padding-top: 1%;
}

.checkboxdiv
{
    display: inline-block;
    background-color: gray;
    font-size: 25px;
    width: 26.5%;
    min-width: 200px;
    height: 0%;
    border: 3px solid black;
    border-radius: 7px;
    margin-top: 1%;
    margin-left: 0.5%;
}

@media only screen and (max-width: 768px) {
    .products {
    list-style: none;
    margin-top: 2%;
    margin-left: 13%;
    border:0;
    padding: 0;
    float: left;
    width: 80%;
}

.checkboxdiv
{
    display: inline-block;
    background-color: gray;
    margin-left: 11%;
    font-size: 25px;
    width: 80%;
    min-width: 200px;
    height: 10%;
    border: 3px solid black;
    border-radius: 7px;
}
}

.src {
    background: white;
    height: 10%;
    width: 43%;
    border-radius: 7px;
    padding: 10px;
    font-size: 60%;
    color:black;  
    border: 1;
    border-color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    cursor: pointer;
  }

.src:hover{
    border-color: yellow;
}

.form-price {
    width: 100%;
}

.form-group {
    padding: 1%;
    display: inline-block;
}

i {
    font-style: italic;
}

.form-control {
    padding: 5%;
    width: 175px;
}

.product-photo {
    position: relative;
    overflow: hidden;
    height: 68%;
    border: 0;
    border-radius: 7px;
}

.product-photo img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
    border: 0px;
    border-radius: 7px;
}

.product:hover .product-photo img {
    transform: scale(1.15);
}


.product_img
{
     height: 200px;
     width: 100%;
}

.product p
{
    color: black;
    margin-top: 20px;
    padding: 5px;
    font-size: 18px;
}


.price
{
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    left: 70%;
    right: 7px;
    bottom: 7px;
    color: black;
    background-color: yellow;
    border: 3px solid gold;
    border-radius: 7px;
}

.product:hover .price {
    display: inline-block;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


label{
    color: black;
    cursor: pointer;
}


/* Customize the label (the container) */

span.bigcheck-target {
  font-family: FontAwesome; /* Use an icon font for the checkbox */
}

input[type='checkbox'].bigcheck {
    width: 0px;
    height: 0px;
   /* Hide the real checkbox */
}

input[type='checkbox'].bigcheck + span.bigcheck-target:after {
    content: "\f096"; /* In fontawesome, is an open square (fa-square-o) */
}

input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
  content: "\f046"; /* fontawesome checked box (fa-check-square-o) */
  color: yellow;
}

/* ==== Optional - colors and padding to make it look nice === */

span.bigcheck {
    display: block;
    padding: 2px;
}


#paginationText:hover
{
    cursor: pointer;
    color: yellow;
}


