#buyButton
{
    border: 2px solid black;
    border-radius: 7px;
    background-color: dimgray;
    font-size: 20px;
    color: white;
    width: 30%;
}

#buyButton:hover, #comment-button:hover
{
    border: 2px solid yellow;
    cursor: pointer;
}

#parent {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
  }
  
  #left {
    width: 35%;
    margin: 0 1% 0 0;
  }
  
  #right {
    width: 70%;
  }

  .general
  {
    padding: 20px;
    background: rgb(0, 0, 0);
  }

  #info
  {
    width: 100%;
  }

/* osition the image container (nePeded to position the left and right arrows) */

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.row {
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.text1 {
  height: 61.38%;
  margin-top: 3%;
  border: solid 1px black;
  border-radius: 8px;
  background: #949494;
}

.text2 {
  height: 100%;
  background: #949494;
  padding: 5px;
  border: solid 1px black;
  border-radius: 8px;
  display: inline-block;
  }

.slidr {
  background: #ccc;
  padding: 5px;
  border: solid 1px black;
  border-radius: 8px;
}

.gameavatar{
  border: 1px solid gold;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.gameAvatarDiv
{
  width: 100%;
  height: 36%;
}

@media screen and (max-width: 1365px) {
  #parent
  {
    display: table-row;
  }

  #right {
    width: 100%;
    padding: 2% 0 2% 0;
  }

  #left {
    width: 100%;
    padding: 0;
  }

  .text1 {
    margin-top: 1.5%;
  }
}

/*Comments*/
.comment-div
{
    padding: 10px;
    background-color: #949494;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.new-comment-div
{
    width: 100%;
    height: 10%;
    background-color: silver;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.comment-input
{
    width: 95%;
    background-color: dimgray;
    border: 2px solid black;
    border-radius: 5px;
}

#comment-button
{
    padding: 10px;
    background-color: dimgray;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

#comment-button:hover
{
    border: 2px solid rgb(229, 243, 36);
    /* OPTIONALY */
    /*font-size: 18px;
    padding: 8px 9px 8px 9px;*/
}

.comments-profile-div
{
    width: 10%;
    min-width: 100px;
    min-height: 120px;
    background-color: #474747;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 2px;
    text-align: center;
    color: gold;
}

.comments-profile-image
{
    width: 90%;
    min-width: 80px;
    border: 2px solid black;
    border-radius: 5px;
    
}

.comments-content-div
{
    width: 80%;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    color: white;
}

.comments-date-div
{
    background-color: #474747;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    right: 0%;
    padding: 10px;
}
