#parent {
    display: flex;
    width: 100%;
  }
  
  #left {
    width: 30%;
    padding: 0 2% 0 0;
  }
  
  #right {
    width: 70%;
    padding-bottom: 2%;
  }

  .general
  {
    padding: 2%;
    background: rgb(0, 0, 0);
  }

  #upperDiv
  {
    width: 100%;
    height: 37%;
  }

  #lowerDiv
  {
    width: 100%;
    height: 57.62%;
    margin-top: 2%;
  }

  #info
  {
    margin-top: 1%;
  }

/* osition the image container (nePeded to position the left and right arrows) */

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width: 70%;
  position: relative;
}

.row {
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.text1 { 
  height: 100%;
  background: #ccc;
  padding: 5px;
  padding-right: 20px; 
  border: solid 1px black;
  border-radius: 8px;
  flex-direction: row;
  }

.text2 {
  height: 100%;
  background: #ccc;
  padding: 5px;
  border: solid 1px black;
  border-radius: 8px;
  display: inline-block;
  }


.imggamepage {
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    border-radius: 8px;
}

.slidr {
  height: 100%;
  background: #ccc;
  padding: 5px;
  border: solid 1px black;
  border-radius: 8px;
}

.gameavatar{
  border: 1px solid gold;
  border-radius: 8px;
  width: 100%;
}

@media screen and (max-width: 1365px) {
  #parent
  {
    display: table-row;
  }

  #right {
    width: 100%;
    padding: 2% 0 2% 0;
  }

  #left {
    width: 100%;
    padding: 0;
  }

  #info
  {
    margin-top: 0.1%;
  }
}